/node_modules/

# __pycache__ 디렉토리 무시
__pycache__/

# AI/train 디렉토리 무시
AI/train/

# pycache 파일 무시
*.pyc

# 특정 확장자 파일 무시
*.log
*.log.*
*.log-*
*.log_*

# 특정 숨김 파일 허용
!.gitignore
!.gitattributes
!.env
!.bin
# 기타 일반적으로 무시하는 파일들
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# aws pem file ignore 무조건
*.pem
bme-ai.pem


.DS_Store
__pycache__